n8n/voice-rag-assistant.backup.json
[{"updatedAt":"2026-04-30T03:31:24.829Z","createdAt":"2026-04-25T06:38:28.618Z","id":"5L1WSTPfyCGTXXRd","name":"Voice RAG Assistant","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":24}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1552,1040],"id":"da1e3633-1252-49d0-ad4d-6446316e1d36","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/scrape","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer fc-33292f877b464f138f726328af2474c8"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"url\": \"https://www.ncw.gov.in/publications/women-centric-schemes-by-different-ministries-of-government-of-india-goi/\",\n  \"formats\": [\"markdown\"],\n  \"onlyMainContent\": true,\n  \"waitFor\": 3000\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1776,1040],"id":"8b74ad92-5c8e-4138-8f60-4e3c7ba54d0f","name":"HTTP Request"},{"parameters":{"jsCode":"const data = $input.item.json.data;\n\nif (!data || !data.markdown) {\n  throw new Error('Firecrawl returned no markdown. Check the API key and target URL.');\n}\n\nreturn {\n  json: {\n    data: data.markdown,\n    url: data.metadata?.url || 'https://www.ncw.gov.in/publications/women-centric-schemes-by-different-ministries-of-government-of-india-goi/',\n    title: data.metadata?.title || 'Women Centric Schemes - NCW'\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2000,1040],"id":"f609f721-7ca8-496d-942f-19f7e1d540b4","name":"Extract Markdown"},{"parameters":{"mode":"insert","pineconeIndex":{"__rl":true,"value":"vad","mode":"list","cachedResultName":"vad"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2256,1040],"id":"edd66438-dc32-442f-b1d3-10511d70f5b6","name":"Pinecone Vector Store","credentials":{"pineconeApi":{"id":"O6H56aGQyE10Uqog","name":"PineconeApi account"}}},{"parameters":{"model":"nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2224,1200],"id":"fadfc799-82b7-41f5-8353-4b9a56227dfc","name":"Embeddings Ollama","credentials":{"ollamaApi":{"id":"brLXyU4S8qdGYkEW","name":"Ollama account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[2416,1200],"id":"c24e53ee-5c8e-41a2-ab73-76e1f605da60","name":"Default Data Loader"},{"parameters":{"httpMethod":"POST","path":"voice-rag-query","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[1376,1584],"id":"e70f38c3-9644-45ac-8033-b1fa82a3118a","name":"Webhook","webhookId":"dbeb1e85-68ef-461a-9d7c-b0ad6a8a63fa"},{"parameters":{"assignments":{"assignments":[{"id":"assign-question","name":"user_question","value":"={{ $json.body.message.toolCallList[0].function.arguments.user_question }}","type":"string"},{"id":"assign-toolcallid","name":"tool_call_id","value":"={{ $json.body.message.toolCallList[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,1584],"id":"cc1d4653-ef02-4cdf-9c93-26680a8f4d5c","name":"Extract VAPI Fields"},{"parameters":{"promptType":"define","text":"={{ $json.user_question }}","options":{"systemMessage":"You are a voice assistant with access to a knowledge base tool about women-centric government schemes in India.\n\nRULES:\n1. ALWAYS call the tool before answering. No exceptions.\n2. ONLY use the tool result to form your answer. Never use your own knowledge.\n3. If the tool result does not contain a relevant answer, say exactly: \"I don't have that information in my knowledge base. Please check ncw.gov.in for accurate details.\"\n4. Never answer general knowledge questions like capitals, history, or anything outside the knowledge base.\n5. Keep answers to 2-3 sentences. This is a voice interface — be natural and concise.\n6. Never make up scheme names, eligibility criteria, amounts, or procedures."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3,"position":[1920,1584],"id":"ea6f31e6-69ec-46e5-9780-d832a7b3e1bb","name":"AI Agent"},{"parameters":{"model":"llama-3.3-70b-versatile","options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatGroq","typeVersion":1,"position":[1920,1808],"id":"a30fe6f7-8b0f-4c9a-902c-80dfee7266ec","name":"Groq Chat Model","credentials":{"groqApi":{"id":"SVQxnuJ75821tQzB","name":"Groq account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Search the knowledge base to find relevant information for the user's question. Always use this before answering.","pineconeIndex":{"__rl":true,"value":"vad","mode":"id"},"topK":3,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePinecone","typeVersion":1.3,"position":[2160,1776],"id":"81ba7bd7-9d5b-4e52-b0a4-b3b840188601","name":"Pinecone Vector Store1","credentials":{"pineconeApi":{"id":"O6H56aGQyE10Uqog","name":"PineconeApi account"}}},{"parameters":{"model":"=nomic-embed-text:latest"},"type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[2416,1904],"id":"46c0ad70-e205-4187-a281-d3971a0492f4","name":"Embeddings Ollama1","credentials":{"ollamaApi":{"id":"brLXyU4S8qdGYkEW","name":"Ollama account"}}},{"parameters":{"jsCode":"const toolCallId = $('Webhook').item.json.body.message.toolCallList[0].id;\nconst agentOutput = $('AI Agent').item.json.output;\n\nif (!toolCallId) {\n  throw new Error('toolCallId missing from VAPI payload. Check webhook body structure.');\n}\n\nconst cleanResult = agentOutput\n  .replace(/\\n/g, ' ')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nreturn {\n  json: {\n    results: [\n      {\n        toolCallId: toolCallId,\n        result: cleanResult\n      }\n    ]\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2336,1584],"id":"c5754f6c-3380-4461-b33b-915b7b57a3e0","name":"Format VAPI Response"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[2544,1584],"id":"71a10085-cef4-43a1-b736-c686194081e5","name":"Respond to Webhook"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract Markdown","type":"main","index":0}]]},"Extract Markdown":{"main":[[{"node":"Pinecone Vector Store","type":"main","index":0}]]},"Embeddings Ollama":{"ai_embedding":[[{"node":"Pinecone Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Pinecone Vector Store","type":"ai_document","index":0}]]},"Webhook":{"main":[[{"node":"Extract VAPI Fields","type":"main","index":0}]]},"Extract VAPI Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Format VAPI Response","type":"main","index":0}]]},"Groq Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Pinecone Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Pinecone Vector Store1","type":"ai_embedding","index":0}]]},"Format VAPI Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","timezone":"Indian/Mahe","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[0]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e01a48c5-1520-40d4-b32a-fb8cc3b340ce","activeVersionId":"e01a48c5-1520-40d4-b32a-fb8cc3b340ce","versionCounter":104,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-04-25T06:38:28.633Z","createdAt":"2026-04-25T06:38:28.633Z","role":"workflow:owner","workflowId":"5L1WSTPfyCGTXXRd","projectId":"X01osrGHH8zBlqPk","project":{"updatedAt":"2026-04-25T06:37:22.706Z","createdAt":"2026-04-25T06:34:44.620Z","id":"X01osrGHH8zBlqPk","name":"Aswathi Ranjith <aswathiranjikk@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"1055457d-ee9e-41da-818d-d387a55af466"}}]}]